<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniproject.mappers.boardMapper">
	<select id="getAllList" resultType="Board">
<!-- 		select * from board order by no desc -->
		select * from board order by no desc limit #{startRowIndex}, #{viewPostCntPerPage}
	</select>
	
	<insert id="insertNewBoard">
		insert into board(writter, title, content) values(#{writter}, #{title}, #{content})
	</insert>

	<select id="selectBoardNo" resultType="int">
		select max(no) as maxNo from board
	</select>
	
	<insert id="insertUploadedFile">
		insert into uploadedFile(originalFileName, newFileName,size, boardNo, thumbFileName ) values(#{originalFileName}, #{newFileName}, #{size}, #{boardNo}, #{thumbFileName})
	</insert>
	
	<select id="selectBoardViewCnt" resultType="ReadCountProcess">
		select * from readcountprocess where boardno = #{boardNo} and ipAddr = #{ipAddr}
	</select>
	
	<select id="getHourDiffReadTime" resultType="int">
		select timestampdiff(hour, (select readTime from readcountprocess where ipAddr = #{ipAddr} and boardNo = #{boardNo}) , now()) AS hourDwhenf
	</select>
	
	<update id="updateReadCountProcess">
		update readCountProcess set readTime = now() where ipAddr = #{ipAddr} and boardNo = #{boardNo}
	</update>
	
	<update id="updateReadCount">
		update board set readCount = readCount + 1 where no = #{no}
	</update>
	
	<insert id="insertReadCountProcess">
		insert into readCountProcess(ipAddr, boardNo) values(#{ipAddr}, #{boardNo})
	</insert>
	
	<select id="selectBoard" resultType="Board">
		select * from board where no = #{no}
	</select>
	
	<select id="selectUploadedFile" resultType="UploadedFile">
		select * from uploadedFile where boardNo = #{no}
	</select>
	
	<select id="selectTotalBoardCnt" resultType="int">
		select count(*) from board
	</select>
	
	<select id="getAllListCntWithSearch" resultType="int">
		select count(*) from board
		<where>
			<choose>
			<when test="searchType == 'writter'">
				writter like #{searchWord}
			</when>
			<when test="searchType == 'title'">
				title like #{searchWord}
			</when>
			<otherwise>
				content like #{searchWord}
			</otherwise>
			</choose>
		</where>
	</select>
	
	<select id="getAllBoardWithSearch" resultType="Board">
		select * from board
		<where>
			<choose>
				<when test="searchType == 'writter'">
					writter like #{searchWord}
				</when>
				<when test="searchType == 'title'">
					title like #{searchWord}
				</when>
				<otherwise>
					content like #{searchWord}
				</otherwise>
			</choose>
			order by no desc limit #{startRowIndex}, #{viewPostCntPerPage}
		</where>
	
	</select>
</mapper>
